.dd-splash {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    background-image: url("../img/splash.png");
    background-position: center;
    background-repeat: no-repeat;
}

.dd-call-car {
    width: 94%;
    position: fixed;
    left: 3%;
    bottom: 10px;
    min-height: 150px;
    border: solid 1px #EEE;
}

.page-img img {
    width: 100%;
}