body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:218px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:57px;
  top:103px;
  width:97px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:57px;
  top:190px;
  width:97px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:57px;
  top:283px;
  width:161px;
  height:37px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
